    <div class="content">
      <div class="container">
        <h1>Prices page (SSR)</h1>
        <p><%= @message %></p>
        <div class="row">
          <form class="row g-3" method="get">
            <div class="col-md-2">
              <label for="rental_location" class="form-label">Sucursal</label>
              <select name="rental_location" class="form-select">
                <option value="">Seleccione sucursal</option>
                <% @rental_locations.each do |location| %>
                  <option value="<%= location[:id] %>" <%= 'selected' if location[:id].to_s == @selected_rental_location %>><%= location[:name] %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-2">
              <label for="rate_type" class="form-label">Tipo de tarifa</label>
               <select name="rate_type" class="form-select" <%= 'disabled' if @selected_rental_location.to_s.empty? %>>
                <option value="">Seleccione tipo de tarifa</option>
                <% @rate_types.each do |rate_type| %>
                  <option value="<%= rate_type[:id] %>" <%= 'selected' if rate_type[:id].to_s == @selected_rate_type %>><%= rate_type[:name] %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-3">
              <label for="season_definition_id" class="form-label">Grupo de temporadas</label>
              <select name="season_definition_id" class="form-select" <%= 'disabled' if @selected_rate_type.to_s.empty? %>>
                <option value="">Seleccione grupo de temporadas</option>
                <% @season_definitions.each do |season_def| %>
                  <option value="<%= season_def[:id] %>" <%= 'selected' if season_def[:id].to_s == @selected_season_definition %>><%= season_def[:name] %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-2">
              <label for="season_id" class="form-label">Temporada</label>
                <select name="season_id" class="form-select" <%= 'disabled' if @selected_season_definition.to_s.empty? %>>
                <option value="">Seleccione temporada</option>
                <option value="0" <%= 'selected' if @selected_season == '0' %>>Sin temporadas</option>
                <% @seasons.each do |season| %>
                  <option value="<%= season[:id] %>" <%= 'selected' if season[:id].to_s == @selected_season %>><%= season[:name] %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-2">
              <label for="season_duration" class="form-label">Duración</label>
              <select name="season_duration" class="form-select" <%= 'disabled' if @selected_season.to_s.empty? %>>
                <option value="">Seleccione duración</option>
                <option value="month" <%= 'selected' if @selected_duration == 'month' %>>Meses</option>
                <option value="days" <%= 'selected' if @selected_duration == 'days' %>>Días</option>
                <option value="hours" <%= 'selected' if @selected_duration == 'hours' %>>Horas</option>
                <option value="minutes" <%= 'selected' if @selected_duration == 'minutes' %>>Minutos</option>
              </select>
            </div>
            <div class="col-md-1">
              <button class="btn btn-primary w-100" style="margin-top: 32px;" <%= 'disabled' if [@selected_rental_location, @selected_rate_type, @selected_season_definition, @selected_season].any? { |s| s.to_s.empty? } || @selected_duration.to_s.empty? %>>Filtrar</button>
            </div>
          </form>
        </div>
      </div>
      <hr>
      <!-- Tabla con las tarifas -->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <table id="prices_table" class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Código Categoría</th>
                  <th scope="col">Nombre Categoría</th>
                  <th scope="col">Sucursal</th>
                  <th scope="col">Tipo de Tarifa</th>
                  <th scope="col">Temporada</th>
                  <th scope="col">Medida de Tiempo</th>
                  <th scope="col">Unidades</th>
                  <th scope="col">Precio</th>
                  <th scope="col">KM Incluidos</th>
                  <th scope="col">Precio Extra KM</th>
                  <th scope="col">Depósito</th>
                  <th scope="col">Exceso</th>
                  <th scope="col">ID Definición Precio</th>
                  <th scope="col">ID Precio</th>
                </tr>
              </thead>
              <tbody>
                <% @prices.each do |price| %>
                  <tr>
                    <td><%= price.category_code %></td>
                    <td><%= price.category_name %></td>
                    <td><%= price.rental_location_name %></td>
                    <td><%= price.rate_type_name %></td>
                    <td><%= price.season_name %></td>
                    <td><%= price.time_measurement %></td>
                    <td><%= price.units %></td>
                    <td class="text-right"><%= price.price %></td>
                    <td><%= price.included_km %></td>
                    <td><%= price.extra_km_price %></td>
                    <td><%= price.deposit %></td>
                    <td><%= price.excess %></td>
                    <td><%= price.price_definition_id %></td>
                    <td><%= price.price_id %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Acciones -->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <button class="btn btn-secondary w-100">Importar</button>
          </div>
      </div> 
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.3.3/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
      $(document).ready(function() {
        $('select[name="rental_location"]').select2({
          theme: 'bootstrap-5'
        });
        $('select[name="rate_type"]').select2({
          theme: 'bootstrap-5'
        });
        $('select[name="season_definition_id"]').select2({
          theme: 'bootstrap-5'
        });
        $('select[name="season_id"]').select2({
          theme: 'bootstrap-5'
        });
        $('select[name="season_duration"]').select2({
          theme: 'bootstrap-5'
        });
        $('#prices_table').dataTable({
          paging: true,
          searching: false,
          info: true
        });

        function disableSubsequent(from) {
          if (from === 'rental_location') {
            $('select[name="rate_type"]').prop('disabled', true).trigger('change.select2');
            disableSubsequent('rate_type');
          } else if (from === 'rate_type') {
            $('select[name="season_definition_id"]').prop('disabled', true).trigger('change.select2');
            disableSubsequent('season_definition_id');
          } else if (from === 'season_definition_id') {
            $('select[name="season_id"]').prop('disabled', true).trigger('change.select2');
            disableSubsequent('season_id');
          } else if (from === 'season_id') {
            $('select[name="season_duration"]').prop('disabled', true).trigger('change.select2');
          }
        }

        $('select[name="rental_location"]').on('change', function() {
          var val = $(this).val();
          if (val) {
            $('select[name="rate_type"]').prop('disabled', false).trigger('change.select2');
          } else {
            disableSubsequent('rental_location');
          }
          updateButton();
        });

        $('select[name="rate_type"]').on('change', function() {
          var val = $(this).val();
          if (val) {
            $('select[name="season_definition_id"]').prop('disabled', false).trigger('change.select2');
          } else {
            disableSubsequent('rate_type');
          }
          updateButton();
        });

        $('select[name="season_definition_id"]').on('change', function() {
          var val = $(this).val();
          if (val) {
            $('select[name="season_id"]').prop('disabled', false).trigger('change.select2');
          } else {
            disableSubsequent('season_definition_id');
          }
          updateButton();
        });

        $('select[name="season_id"]').on('change', function() {
          var val = $(this).val();
          if (val) {
            $('select[name="season_duration"]').prop('disabled', false).trigger('change.select2');
          } else {
            disableSubsequent('season_id');
          }
          updateButton();
        });

        $('select[name="season_duration"]').on('change', function() {
          updateButton();
        });

        function updateButton() {
          var disabled = $('select[name="rental_location"]').is(':disabled') ||
                          $('select[name="rate_type"]').is(':disabled') ||
                          $('select[name="season_definition_id"]').is(':disabled') ||
                          $('select[name="season_id"]').is(':disabled') ||
                          $('select[name="season_duration"]').is(':disabled') ||
                          $('select[name="season_duration"]').val() === '';
          $('button:contains("Filtrar")').prop('disabled', disabled);
        }

        updateButton();

      });
    </script>
